<div id="widgetIframe" data-site-id="{siteId}">
    <iframe id="matomoframe" src="{iframeUrl}" frameborder="0" marginheight="0" marginwidth="0" width="100%"
        height="100%">
    </iframe>
</div>

<style>
    .module-body {
        margin: 5px;
        padding: 0px;

        border-radius: 5px;
        overflow: hidden;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    #widgetIframe {
        height: calc(100vh - 11px);
    }
</style>